{{ define "ComponentTodos" }}
<div {{ componentattrs . }}>
    <div>Todos</div>
    <div>
        <div>
            <input name="NewTitle" value="{{ .NewTitle }}" type="text" oninput="{{ bind `NewTitle` }}" />
            <button onclick="{{ action `Add` }}" >Add Todo</button>
        </div>
        <ul>
        {{ range .FilteredTodos }}
            <li
                onclick="{{ action `Complete` .Id }}"
                {{ if .Completed }}
                    style="text-decoration: line-through;"
                {{ end }}
            >{{ .Title }}</li>
        {{ end }}
        </ul>
        <div style="display: flex;">
            <div>Show:</div>
            <button
                onclick="{{ action `ChangeFilter` .All }}"
                {{ if eq .CurrentFilter .All }}
                    disabled
                {{ end }}
            >{{ .All.String }}</button>
            <button
                onclick="{{ action `ChangeFilter` .Active }}"
                {{ if eq .CurrentFilter .Active }}
                    disabled
                {{ end }}
            >{{ .Active.String }}</button>
            <button
                onclick="{{ action `ChangeFilter` .Completed }}"
                {{ if eq .CurrentFilter .Completed }}
                    disabled
                {{ end }}
            >{{ .Completed.String }}</button>
        <div>
    </div>
</div>
{{ end }}