{{ define "ComponentTodos" }}
<div {{ componentattrs . }}>
    <div>Todos</div>
    <div>
        <div>
            <input name="NewTitle" value="{{ .NewTitle }}" type="text" oninput="{{ bind `NewTitle` }}" />
            <button onclick="{{ action `Add` }}" >Add Todo</button>
        </div>
        <ul>
        {{ range .FilteredTodos }}
            <li
                onclick="{{ action `Complete` .Id }}"
                {{ if .Completed }}
                    style="text-decoration: line-through;"
                {{ end }}
            >{{ .Title }}</li>
        {{ end }}
        </ul>
        <div style="display: flex;">
            <div>Show:</div>
            {{ template "ComponentTodosFilterLink" .All}}
            {{ template "ComponentTodosFilterLink" .Active}}
            {{ template "ComponentTodosFilterLink" .Completed}}
        <div>
    </div>
</div>
{{ end }}